<!-- Diseño del mode (small)-->
<div *ngIf="mode==='small'" class="card-player player-small">
    <img [src]="track.cover" [alt]="track.name" class="cover">
    <div class="content-player">
        {{track.name}}
    </div>
    <div class="buttons-player">
        <button *ngIf="true" class="play-btn">
            <i class="uil " [ngClass]="{'uil-play':true}"></i>
        </button>
        <button *ngIf="false" class="play-btn">
            <i class="uil uil-play"></i>
        </button>
    </div>
</div>

<!-- Diseño del mode (big)-->
<div *ngIf="mode==='big'" class="card-player player-big">
    <img appImgBroken [customImg]="'https://th.bing.com/th/id/R.a622bc6f9ad036d090ccde2f37fa2202?rik=FOjraEJ1wSM4zw&riu=http%3a%2f%2fclipground.com%2fimages%2fangular-clipart-10.jpg&ehk=9UM%2fJxV15PPt2HA%2fNf9%2fDm5OPmUhRUhjeje%2fZ4JHBkM%3d&risl=&pid=ImgRaw&r=0'" [src]="track.cover" alt="" class="cover">
    <div class="content-player">
        <div class="title-track">{{track.name}}</div>
        <div class="sub-title-track">{{track.name}}</div>
    </div>
    <div class="buttons-player">
        <button *ngIf="true" class="play-btn">
            <i class="uil " [ngClass]="{'uil-play':true}"></i>
        </button>
        <button *ngIf="false" class="play-btn">
            <i class="uil uil-play"></i>
        </button>
    </div>
</div>






<!-- Diseño del mode (small)-->
<!-- <div *ngIf="mode==='small'" class="card-player player-small">
    <img [src]="track.cover" [alt]="track.name" class="cover">
    <div class="content-player">
        {{track.name}}
    </div>
    <div class="buttons-player">
        <button *ngIf="true" class="play-btn">
            <i class="uil " [ngClass]="{'uil-play':true}"></i>
        </button>
        <button *ngIf="false" class="play-btn">
            <i class="uil uil-play"></i>
        </button>
    </div>
</div> -->

<!-- Diseño del mode (big)-->
<!-- <div *ngIf="mode==='big'" class="card-player player-big">

    <img appImgBroken [customImg]="'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png'" [src]="track.cover" alt="" class="cover">

    <div class="content-player">
        <div class="title-track">{{track.name}}</div>
        <div class="sub-title-track">{{track.name}}</div>
    </div>
    <div class="buttons-player">
        <button (click)="sendPlay(track)" *ngIf="true" class="play-btn">
            <i class="uil " [ngClass]="{'uil-play':true}"></i>
        </button>
        <button *ngIf="false" class="play-btn">
            <i class="uil uil-play"></i>
        </button>
    </div>
</div> -->

